/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-08-2020, 10:33:16
    Author     : Tomas
*/h1, h2 {
  color: black;
  font-size: 16px;
}

h2 {
  font-size: 14px;
}

p {
  color: rgb(32,32,32);
  text-align: left;
}

 body { background-color: #FF0000; }

